body{
	font-family: 'Lusitana', sans-serif;
	color: #151617;
	background: #FCF1D9;
}

#logo{
	display: block;
	margin-left: auto;
	margin-right:auto;
}

ul li{
	list-style-type: none;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 120%
}

.item_name{
	text-decoration: underline;
}

#menu{
	margin-right: 0px;
}

#menu div.item {
	margin-bottom: 50px;
}

#menu h1{
	text-align: right;
	padding-right: 0px;
	margin-right:0px;
}

.pizza_img{
	border: 4px solid black;
}

#cheese{
	margin-top: 20px;
}

#pepperoni{
	margin-top: 30px;
}

#veggie{
	margin-top: 30px;
}

div ul{
	padding: 0px;
	margin: 0px;
}
div ul.inline_list li{
	display: inline-block;
	margin-left:10px;
	margin-right:10px;
	font-size: 90%;
	text-align: left;
	padding: 15px;
	margin: 0px;
}

#images{
	margin-top: 95px;
	margin-left: 0px;
	margin-right: 50px
}

#other_stuff{
	margin-right: auto;
}

#other_stuff h1{
	text-align: right;
}

#other_stuff div.item {
	margin-bottom: 50px;
}

#other_images{
	margin-top: 120px;
}

#breadsticks{
	margin-top: 40px;
}

#soda{
	margin-top: 30px;
}

#bottom_list li{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding-right: 20px;
	padding-left: 20px
}